//===Mixins===
@mixin SansPro($size:20px){
	font-family: 'Source Sans Pro', lighter;
	font-weight: lighter;
	letter-spacing: 8px;
	font-size: $size;

}

@mixin Roboto {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: grey;
}

@mixin SubtitleStyle{
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: gray;
	text-align: center;
	max-width: 500px;
}

@mixin greenFont{
	font-weight: bold;
	color: $backgroundGreen;
}
@mixin blackFont{
	font-weight: bolder;
	color: black;
}
//===/Mixins===


//===Vars===
$backgroundGray: #81868e;

$backgroundGreen: #19BD9A;

$topPaddingTitle: 80px;

$topPaddingSubtitle: 40px;
//===/Vars===

*{
	padding: 0;
	margin: 0;
	letter-spacing: 1px;

}

body{
	background-color: #f3f3f3;
}

// ===Fonts Decorate===
.black{
	@include blackFont;
}

.green{
	@include greenFont;
}

.whiteBold{
	color: white;
	font-weight: bold;
}
// ===/Fonts Decorate===

// ===HEADER===
.section-header{
	
	
	.section-inner{
		color: white;
		background: url('../images/headerBG.gif') no-repeat 50% 50%;
		background-size: cover;
		position: relative;
		height: 100vh;

		&:before{
			content: '';
			position: absolute;
			background: rgba(40, 40, 40, .6);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	

	&-navNdLogo{
		display: flex;
		justify-content: flex-start;
		height: 100px;
	}

	&-logo{
		font-family: 'Archivo Black', sans-serif;
		z-index: 10;
		color: white;
		font-size: 25px;
		font-weight: bolder;
		padding-left: 7.2%;
		padding-top: 48px;
	}

	&-nav{
		font-family: 'OpenSans', sans-serif;
		z-index: 10;
		padding-left: 37%;
		padding-top: 45px;
		display: flex;
		font-size: 16px;
		align-self: flex-start;


	
		div{
			cursor: pointer;
			padding: 7px 15px 7px 15px;



			&:hover {
				border: 1px solid white;
				border-radius: 25px;
				
			}
		}
	}


	&-promo{
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 0 auto;
		text-align: center;
		margin-top: 200px;

		&-head{
			@include SansPro(35px);
			font-weight: lighter;
			z-index: 10;
			font-size: 35px;
			letter-spacing: 9px;
			text-align: center;
			margin-bottom: 44px;
		}

		&-body{
			font-family: OpenSans;
			z-index: 10;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			padding-bottom: 265px;
		}

		&-button{
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center; 
			z-index: 10;
			height: 36px;
			width: 36px;
			background-color: $backgroundGray;
			border-radius: 50%;
			margin: 0 auto;

			&:hover{
				background-color: $backgroundGreen;
				transition: all .3s ease;
			}
		}
	}
}
// ===/HEADER===

// ===PROMO===
.section-promo{
	

	.section-inner{
		background-color: #ffffff;
		height: 67vh;
		display: flex;
		
	}
	
	&-fill{
		flex-basis: 40%;
		justify-self: flex-start;
		display: flex;
		flex-direction: column;
		padding-left: 19.5%;
		padding-right: 12%;


		&-head{
			@include SansPro;
			letter-spacing: 7px;
			text-align: left;
			margin-top: 114px;
		}

		&-body{
			font-family: 'OpenSans', sans-serif;
			font-size: 14px;
			text-align: left;
			line-height: 25px;
			color: gray;
			margin-top: 49px;
		}

		&-button{
			padding: 7px 15px;
			font-family: 'OpenSans', sans-serif;
			font-size: 16px;
			margin-top: 36px;
			justify-self: flex-start;
			align-self: flex-start;
			border: 1px solid black;
			border-radius: 25px;
			cursor: pointer;

			
			&:hover{
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				transition: all .2s ease;
			}
		}
	}

	&-image{
		flex-basis: 50%;
		margin-top: 100px;
	}
}

// ===/PROMO===


// ===DETAILS===

.section-details{
	
	.section-inner{
		height: 84vh;

	}
	
	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;
		


		&-title{
			padding-top: $topPaddingTitle;
			@include SansPro;

		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;

		}

		&-buttons{
			padding-top: 62px;
			display: flex;
			flex-direction: row;
			width: 16%;
			justify-content: space-between;

			


			.button{
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				height: 50px;
				width: 50px;
				border-radius: 50%;
				background-color: $backgroundGray;
				font-size: 25px;
					
				&:hover{
					background-color: $backgroundGreen;
				}
			}
		}
	}

	
	&-body{
		padding-right: 22%;
		padding-left: 12.3%;
		

		&-title{
			padding-top: $topPaddingSubtitle;
			font-size: 20px;
			font-family: 'OpenSans', serif;
		}

		&-text{
			font-size: 14px;
			font-family: 'OpenSans', sans-serif;
			padding-top: 20px;
			display: flex;
			color: grey;
			justify-content: space-between;

			
			
			&-left{
				max-width: 330px;
			

			}


			&-right{
				max-width: 518px;
			}
		}
	}
}

// ===/DETAILS===

// ===FEATURE===

.section-featured{


	.inner-section{
			background-color: white;
	}


	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;


		&-title{
			@include SansPro;
			padding-top: $topPaddingTitle;
		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}
	}
	
	&-works{
		padding-top: 65px;
		display: flex;
		

		

		&-feature{
			display: flex;
			height: 320px;
			width: 33.3%;
			justify-content: center;
			position: relative;
			cursor: pointer;
			

			span{			
				@include SansPro;
				z-index: 10;
				color: white;
				margin: 0 auto;
				align-self: center;
				position: absolute;
			}

			img{
				z-index: 5;
				height: 100%;
				width: 100%;

				
			}

			&:before{
			content: '';
			position: absolute;
			background: rgba(40, 40, 40, .6);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 7;
			}

			&:hover{
				width: 51%;
				transition: all .5s ease;
				z-index: 10;

				span{
					display: none;
				}
				&:before{
					display: none;
				}
			}
		}
	}

	&-footer{
		height: 113px;
		display: flex;
		background: url(../images/nogi.gif) 50% 50% no-repeat;
		background-size: cover;
		position: relative;
		justify-content: space-between;
		align-items: center;
		padding: 0 12.3%;

		&:before{
			content: '';
			position: absolute;
			background: rgba(42, 155, 122, .6);
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 5;
		}

		&-text{
			font-family: 'OpenSans', sans-serif;
			font-size: 20px;
			z-index: 10;
			color: white;
			letter-spacing: 2px;

			span{
				font-weight: bold;
			}
		}

		&-button{
			font-family: 'OpenSans', sans-serif;
			font-size: 16px;
			z-index: 10;
			color: white;
			padding: 7px 15px 7px 15px;
			border: 1px solid white;
			border-radius: 25px;
			justify-self: flex-start;
			cursor: pointer;

			&:hover{
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				transition: all .2s ease;
			}
		}
	}
}

// ===/FEATURE===

// ===SERVICES===

.section-services{
	
	.inner-section {
		height: 86vh;
	}

	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 64px;

		&-title{
			@include SansPro;
			padding-top: $topPaddingTitle;
		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}
	}

	&-body{
		display: flex;
		padding: 0 12.4%;

		&-icons{
			padding-right: 44px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 263px;

			.icon{
				display: flex;
				height: 53px; width: 53px;
				border-radius: 50%;
				color: white;
				background-color: $backgroundGray;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				&:hover{
					background: $backgroundGreen;
					transition: all .3s ease;
				}
			}
		}
		
		&-text{
			display: flex;
			flex-direction: column;
			height: 260px;
			width: 430px;
			justify-content: space-between;
			

			&-title{
				font-size: 20px;
				font-family: 'OpenSans', sans-serif;
			}

			&-subtitle{
				font-size: 16px;
				letter-spacing: 2px;
				color: gray;
				font-family: 'OpenSans', sans-serif;
			}

			&-main{
				font-size: 14px;
				color: gray;
				font-family: 'OpenSans', sans-serif;
			}
		}

		&-diagrams{
			display: flex;
			justify-content: space-between;
			width: 490px;
			padding-left: 84px;
			
			&-element{
				@include Roboto;
				text-align: center;
				width: 124px;
				justify-content: center;

				&-circle{
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					padding-bottom: 25px;
					padding-top: 63px;

					div{
						position: absolute;
						color: gray;
						font-size: 25px;
						font-family: 'OpenSans', sans-serif;

						span{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}


// ===/SERVICES===

// ===QUOTES===

.section-quotes{

	.inner-section{
		height: 53vh;
		background: black;
		position: relative;
		display: flex;
		background: url(../images/quotesBackground.gif) 50% 50% no-repeat;
		background-size: cover;
	}

	&-text{
		padding: 80px 0 101px 7.2%; 
		
		max-width: 50%;

		&-title{
			@include SansPro;
			color: white;
			padding-bottom: 60px;
		}

		&-subtitle{
			font-family: 'OpenSans', sans-serif;
			font-size: 16px;
			color: gray;
			letter-spacing: 2px;
			padding-bottom: 33px;

		}
		&-autor{
			font-size: 14px;
			color: gray;

		}
	}

	&-image{
		position: absolute;
		z-index: 100;
		bottom: 140px;
		left: 63%;
		right: 7.2%;
	}
}
// ===/QUOTES===

// ===PORTFOLIO===

.section-portfolio {

	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title{
			padding-top: $topPaddingTitle;
			@include SansPro;
		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}
	}

	&-menu{
		height: 35px;
		margin: 0 auto;
		padding-top: 84px;
		display: flex;
		font-family: 'OpenSans', sans-serif;
		color: #464646;
		font-size: 16px;
		width: 46%;
		justify-content: space-around;

		&-element{
			padding-bottom: 15px;
			cursor: pointer;

			&:hover{
				border-bottom: 2px solid transparent;
				border-image: linear-gradient(to right, #f3f3f3 25%, $backgroundGreen 25%, $backgroundGreen 75%, #f3f3f3 75%, #f3f3f3 100%);
				border-image-slice: 1;  
			}
		}
	}

	&-content{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 951px;
		padding: 55px 9.4% 40px 9.4%;
		margin: 0 auto;
		width: 1112px;
		justify-content: space-between;
	

		&-element{
			width: 270px;
			cursor: pointer;
			position: relative;
			z-index: 5;


			&:hover{
				
				.section-portfolio-content-element-hover{
					position: absolute;
					display: flex;
					z-index: 10;
				}
				

				&:before{
					content: '';
					z-index: 5;
					position: absolute;
					background: rgba(20, 20, 20, .85);
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					}
				}
			
			&-hover{
				display: none;
				flex-direction: column;
				justify-content: space-evenly;
				height: 100%;

				padding: 0 40px;
				

				
				.title{
					@include SansPro;

				}

				hr{
					background-color: $backgroundGreen;
					border: none;
					width: 23px;
					height: 1px;
					margin-bottom: 10px;
				}

				.text{
					height: 30%;
					font-size: 12px;
					font-family: 'OpenSans' ,sans-serif;
					color: lightgrey;
					

				}

				.buttons{
					display: flex;
					width: 64px;
					justify-content: space-between;
					
					&-element{
						align-self: flex-end;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 28px; height: 28px;
						border-radius: 50%;
						background-color: black;
						color: white;
						cursor: pointer;

						&:hover{
							color: black;
							background-color: white;
							transition: all .2s ease;
						}
					}
				}
			}
		}
		
		.element1{
			height: 362px;
			background: url(../images/Portfolio/1.gif) 50% 50% no-repeat
		}

		.element2{
			height: 362px;
			background: url(../images/Portfolio/2.gif) 50% 50% no-repeat
		}

		.element3{
			height: 210px;
			background: url(../images/Portfolio/3.gif) 50% 50% no-repeat
		}

		.element4{
			height: 229px;
			background: url(../images/Portfolio/4.gif) 50% 50% no-repeat
		}

		.element5{
			height: 345px;
			background: url(../images/Portfolio/5.gif) 50% 50% no-repeat;
		}

		.element6{
			height: 357px;
			background: url(../images/Portfolio/6.gif) 50% 50% no-repeat
		}

		.element7{
			height: 302px;
			background: url(../images/Portfolio/7.gif) 50% 50% no-repeat
		}

		.element8{
			height: 374px;
			background: url(../images/Portfolio/8.gif) 50% 50% no-repeat
		}

		.element9{
			height: 255px;
			background: url(../images/Portfolio/9.gif) 50% 50% no-repeat
		}

		.element10{
			height: 362px;
			background: url(../images/Portfolio/10.gif) 50% 50% no-repeat
		}

		.element11{
			height: 270px;
			background: url(../images/Portfolio/11.gif) 50% 50% no-repeat
		}

		.element12{
			height: 302px;
			background: url(../images/Portfolio/12.gif) 50% 50% no-repeat
		}
	}

	&-footer{
		width: 1112px;
		height: 201px;
		background: url(../images/Portfolio/portfolioBG.gif) 50% 50% no-repeat;
		background-size: cover;
		margin: 0 auto;
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-text{
			font-family: 'OpenSans', sans-serif;
			color: white;
			padding-top: 58px;
			padding-bottom: 34px;
			font-size: 20px;

			span{
				font-weight: bold;
			}
		}

		&-button{
			font-family: 'OpenSans', sans-serif;
			color: white;
			font-size: 16px;
			padding: 7px 20px 7px 20px;
			border: 1px solid white;
			border-radius: 25px;
			cursor: pointer;

				&:hover{
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				transition: all .2s ease;
				}

		}
	}
}

// ===/PORTFOLIO===

// ===TEAM===

.section-team{
	background-color: #ffffff;
	
	.inner-section{
		padding: 0 12.3%;
		
	}
	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title{
			@include SansPro;
			padding-top: $topPaddingTitle;
		}
		
		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}
	}

	&-content{
		padding-top: 65px;
		display: flex;
		justify-content: space-between;

	
		&-image{
			z-index: 10;
			height: 440px;
			min-width: 346px;
			background: url(../images/TeamImage.gif) 50% 50% no-repeat;
			background-size: cover;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: relative;

			&:hover{
				.section-team-content-image-hover{
					display: flex;
				}

				&:after{
					.button{
						display: flex;
						
					}
				}	
			}


			&-hover{	
				z-index: 5;
				display: none;
				height: 430px;
				width: 336px;
				background: rgba(255, 255, 255, .7);
				border: 5px solid inherit;
				justify-content: center;
				align-items: center;

				.buttons{
					display: flex;
					z-index: 15;
					width: 110px;
					justify-content: space-between;
						
					.button{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background-color: #28243b;
						color: rgba(255, 255, 255, .7);
						display: flex;
						justify-content: center;
						align-items: center;

						&:hover{
							color: #28243b;
							background-color: rgba(200, 200, 200, .7);
						}
					}
				}
			}	
		}

		&-info{
			text-align: right;
			align-self: center;
			

			&-name{
				padding-right: 46px;
				font-family: 'OpenSans', sans-serif;
				font-size: 20px;
				border-right: 5px solid $backgroundGreen;


				.position{
					padding-top: 15px;
					@include SansPro(14px);
					letter-spacing: 1px;
					font-style: italic;
					color: gray;
				}
			}
			&-text{
				padding-right: 46px;
				max-width: 400px;
				padding-top: 35px;
				font-family: 'OpenSans', sans-serif;
				font-size: 14px;
				color: gray;
			}

			&-skills{
				margin-right: 46px;
				margin-left: 70px;
				
				padding-top: 15px;


				&-element{
					width: 330px;
					@include SansPro;
					font-size: 16px;
					color: gray;
					letter-spacing: 2px;
					display: flex;
					justify-content: space-between;
					padding-top: 36px;
					padding-bottom: 9px;

				}

				.el1{
					border-bottom: 4px solid transparent;
					border-image: linear-gradient(to right, $backgroundGreen 80%, lightgray 80%, lightgray 100%);
					border-image-slice: 1;
				}

				.el2{
					border-bottom: 4px solid transparent;
					border-image: linear-gradient(to right, $backgroundGreen 65%, lightgray 65%, lightgray 100%);
					border-image-slice: 1;
				}

				.el3{
					border-bottom: 4px solid transparent;
					border-image: linear-gradient(to right, $backgroundGreen 75%, lightgray 75%, lightgray 100%);
					border-image-slice: 1;
				}
			}
		}
	}

	&-slider{
		display: flex;
		justify-content: center;
		padding-top: 61px;
		padding-bottom: 100px;

		&-inner{
			display: flex;
			width: 50px;
			justify-content: space-between;

			&-button{
				height: 10px;
				width: 10px;
				border-radius: 50%;
				border: 1px solid $backgroundGreen;
				background: white;
				cursor: pointer;

				&:hover{
					background: $backgroundGreen;
					transition: all .2s ease;
				}
			}
		}
	}

	&-footer{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		height: 210px;
		background: url(../images/TeamFooter.gif) 50% 50% no-repeat;
		background-size: cover;

		&-text{
			height: 50px;
			font-size: 20px;
			font-family: 'OpenSans', sans-serif;
		}

		&-button{
			font-size: 16px;
			font-family: 'OpenSans', sans-serif;
			padding: 7px 20px 7px 20px;
			border: 1px solid white;
			border-radius: 25px;
			cursor: pointer;

			&:hover{
				color: black;
				background-color: white;
				transition: all .2 ease;
			}
		}
	}
}

// ===/TEAM===


// ===TESTIMONIALS===

.section-testimonials{
	
	.section-inner{
		
	}

	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		&-title{
			padding-top: $topPaddingTitle;
			@include SansPro;
			text-transform: uppercase;
		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
			
		}
	}

	&-content{
		background: #ffffff;
		margin: 63px 7.2% 100px 7.2%;

		&-inner{
			display: flex;
			padding-top: 52px;
			margin-left: 100px;

			&-image{
				padding-right: 70px;

			}

			&-text{
				max-width: 800px;

				&-main{
					font-size: 16px;
					font-family: 'OpenSans', sans-serif;
					color: grey;
					padding-top: 7px;
				}

				&-autor{
					padding-top: 34px;
					font-weight: bold;
					font-family: 'OpenSans', sans-serif;
					font-size: 14px;

					span{
						color: black;
						font-weight: normal;
					}
				}
			}
		}

		&-slider{
			padding: 50px 0 60px 0;
			margin: 0 auto;
			display: flex;
			width: 50px;
			justify-content: space-between;

			&-button{
				height: 10px;
				width: 10px;
				border-radius: 50%;
				border: 1px solid $backgroundGreen;
				background: white;
				cursor: pointer;

				&:hover{
					background: $backgroundGreen;
					transition: all .2s ease;
				}
			}
		}
	}


}
// ===/TESTIMONIALS===

// ===BLOG===

.section-blog{

	.inner-section{
		padding: 0 7.2%;
		background: black;
		background: url(../images/blogBG.gif) 50% 50% no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	&-slider{
		display: flex;
		flex-direction: column;
		height: 50px;
		justify-content: space-between;

		&-button{
			height: 10px;
			width: 10px;
			border-radius: 50%;
			border: 1px solid white;
			background: transparent;
			cursor: pointer;

			&:hover{
				background: white;
				transition: all .2s ease;
			}
		}
	}

	&-content{
		

		&-title{
			padding-top: $topPaddingTitle;
			@include SansPro;
			color: white;

		}
		
		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
			line-height: 22px;
			color: white;
		}

		&-main{

			&-inner{
				padding-top: 106px;
				padding-left: 5.1vw;

				&-title{
					font-family: 'OpenSans', sans-serif;
					font-size: 20px;
					color: white;
				}

				&-autor{
					padding-top: 13px;
					@include SansPro(14px);
					letter-spacing: 1px;
					font-style: italic;
					color: gray;
					text-transform: uppercase;

					.name{
						color: $backgroundGreen;
					}
				}

				&-rating{
					padding-top: 20px;
					@include SansPro(14px);
					letter-spacing: 1px;
					color: darkgray;
				}

				&-text{
					font-family: 'OpenSans', sans-serif;
					font-size: 14px;
					padding-top: 60px;
					max-width: 600px;
					color: gray;
				}

				&-button{
					padding-top: 55px;
					font-family: 'OpenSans', sans-serif;
					font-size: 16px;
					color: white;
					margin-bottom: 104px;
					cursor: pointer;

					&:hover{
						color: gray;
						transition: all .2s ease;
					}
				}
			}	
		}
	}
}

// ===/BLOG===

// ===PRICES===

.section-prices{

	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title{
			padding-top: $topPaddingTitle;
			@include SansPro;
			text-transform: uppercase;

		}

		&-subtitle{
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}
	}

	&-tariffs{
		margin: 64px 19.5% 100px 19.5%;
		display: flex;
		justify-content: space-between;

		&-element{
			width: 17.2vw;
			height: 302px;
			background: white;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;

			&:hover{
				

				.section-prices-tariffs-element-head{
					display: none;
				}

				.section-prices-tariffs-element-price{
					display: none;
				}

				.section-prices-tariffs-element-terms{
					opacity: 100%;
					transition: all .3s ease;
				}
				
				.section-prices-tariffs-element-button{
					display: flex;
				}
			}

			&-head{
				width: 100%;
				color: white;
				text-transform: uppercase;
				font-family: 'OpenSans', sans-serif;
				font-size: 20px;
				letter-spacing: 3px;
				font-weight: bolder;

				background-color: $backgroundGreen;
				height: 67px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-price{
				margin-top: 66px;
				text-align: center;
				@include SansPro;
				color: $backgroundGreen;
				font-size: 42px;
				letter-spacing: 1px;
				font-weight: bolder;

				&-period{
					font-family: 'OpenSans', sans-serif;
					font-size: 20px;
					color: gray;
					font-weight: lighter;
				}
			}

			&-terms{
				top: 40px;
				position: absolute;
				width: 12.4vw;
				text-align: left;
				opacity: 0%;
				color: gray;
				font-family: 'OpenSans', sans-serif;
				font-size: 14px;
				line-height: 25px;

			}

			&-button{
				width: 100%;
				color: white;
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				font-weight: lighter;

				background-color: $backgroundGreen;
				height: 67px;
				display: none;
				justify-content: center;
				align-items: center;

				position: absolute;
				bottom: 0;

				&:hover{
					color: gray;
					transition: all .3s ease;
				}

				i{
					margin-left: 5px;
				}
			}
		}
	}
}

// ===/PRICES===


// ===SUBSCRIBE===

.section-subscribe{
	

	.inner-section{
		background: url(../images/subscribeBG.gif) 50% 50% no-repeat;
		background-size: cover;
		position: relative;
		z-index: 10;

		&:before {
			position: absolute;
			content: '';
			background: rgba(51, 51, 51, .8);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 5;
		}
	}
	
	&-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 100px;

		&-title{
			z-index: 20;
			padding-top: $topPaddingTitle;
			text-transform: uppercase;
			@include SansPro;
			color: white;
		}

		&-subtitle{
			z-index: 20;
			padding-top: $topPaddingSubtitle;
			@include SubtitleStyle;
		}

		&-area{
			z-index: 20;
			width: 38%;
			display: flex;
			justify-content: space-between;
			height: 40px;
			padding-top: 64px;

			&-input{
				font-family: 'OpenSans', sans-serif;
				font-size: 14px;
				color: white;
				padding: 15px 0 15px 22px;
				width: 65%;
				background-color: transparent;
				outline: none;

			}

			&-input::-webkit-input-placeholder{ 
				color: white;
			}

			&-button{
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				text-transform: uppercase;
				font-family: 'OpenSans', sans-serif;
				font-size: 14px;
				background-color: $backgroundGreen;
				cursor: pointer;
				width: 29%;

				&:hover{
					background-color: #91c48d;
					transition: all .3s;
				}
			}
		}

	}

}

// ===/SUBSCRIBE===

// ===CONTACT===

.section-contact{

	&-head{
		display: flex;
		flex-direction: column;
		align-items: center;

		&-title{
			@include SansPro;
			padding-top: $topPaddingTitle;
			text-transform: uppercase;
		}

		&-subtitle{
			@include SubtitleStyle;
			padding-top: $topPaddingSubtitle;
		}
	}

	&-content{
		padding: 64px 15.6% 100px 15.6%;
		
		display: flex;
		justify-content: space-between;

		&-element{
			width: 21.1vw;

			.mail{
				background: url(../images/Contacts/mailBG.gif) 50% 50% no-repeat;
				background-size: cover;
			}

			.address{
				background: url(../images/Contacts/addressBG.gif) 50% 50% no-repeat;
				background-size: cover;
			}

			.phone{
				background: url(../images/Contacts/phoneBG.gif) 50% 50% no-repeat;
				background-size: cover;
			}
			
			&-head{
				height: 145px;
				width: 100%;
				font-size: 50px;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-info{
				height: 127px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				text-transform: uppercase;
				font-size: 16px;
				font-family: 'OpenSans', sans-serif;
				background: white;
				text-align: center;

				&-contacts{
					color: gray;
					font-size: 14px;
					line-height: 25px;
				}
			}
		}
	}

	&-form{
		padding: 80px 15.6% 130px 15.6%;
		background: white;
		width: calc(100% - (15.6*2));

		&-contacts{
			width: 100%;
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			
			&-element{
				box-sizing: border-box;
				width: 21vw;
				outline: none;
				font-size: 14px;
				font-family: 'OpenSans', sans-serif;
				padding:15px 0 15px 21px;
			}
		}

		&-main{
			box-sizing: border-box;
			width: 100%;
			margin-top: 30px;
			height: 190px;
			width: 100%;
			outline: none;
			font-size: 14px;
		}

		&-button{
			box-sizing: border-box;
			margin-top: 30px;
			width: 100%;
			height: 53px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $backgroundGreen;
			color: white;
			font-family: 'OpenSans';
			font-size: 16px;
			text-transform: uppercase;
			cursor: pointer;

			&:hover{
				background-color: #91c48d;
				transition: all .3 ease;
			}
		}
	}

	&-nav{
		height: 500px;
		width: 100%;
		position: relative;
		
		&:before{
			position: absolute;
			content: 'FIND US ON THE MAP';
			font-size: 16px;
			color: white;
			font-family: 'OpenSans', sans-serif;
			background: rgba(36, 36, 36, .6);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}

// ===/CONTACT===

// ===FOOTER===

.section-footer{

	.inner-section{
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&-title{
		padding-top: $topPaddingTitle;
		font-family: 'Archivo Black', sans-serif;
		z-index: 10;
		color: black;
		font-size: 25px;
		font-weight: bolder;

	}

	&-subtitle{
		padding-top: 25px;
		font-size: 14px;
		font-family: 'OpenSans', sans-serif;
		color: gray;

	}

	&-socials{
		padding-top: 40px;
		padding-bottom: 90px;
		display: flex;
		width: 172px;
		justify-content: space-between;

		&-element{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.facebook{
			background: #3b5998;

			&:hover{
			color: #3b5998;
			background-color: white;
			}
		}

		.twitter{
			background: #26a6d1;

			&:hover{
			color: #26a6d1;
			background-color: white;
			}
		}

		.in{
			background: #0e76a8;

			&:hover{
			color: #0e76a8;
			background-color: white;
			}
		}

		.insta{
			background: #3f729b;

			&:hover{
			color: #3f729b;
			background-color: white;
			}
		}

		.vk{
			background: #86c9ef;

			&:hover{
			color: #86c9ef;
			background-color: white;
			}
		}
	}
}

// ===/FOOTER===
