* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

body {
  background-color: #f3f3f3;
}

.black {
  font-weight: bolder;
  color: black;
}

.green {
  font-weight: bold;
  color: #19BD9A;
}

.whiteBold {
  color: white;
  font-weight: bold;
}

.sectionHeader {
  color: white;
  background: url("../images/headerBG.gif") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.sectionHeader .sectionInner:before {
  content: "";
  position: absolute;
  background: rgba(40, 40, 40, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sectionHeaderNavNdLogo {
  display: flex;
  justify-content: flex-start;
  height: 100px;
}
.sectionHeaderLogo {
  font-family: "Archivo Black", sans-serif;
  z-index: 10;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding-left: 7.2%;
  padding-top: 48px;
}
.sectionHeaderNav {
  font-family: "OpenSans", sans-serif;
  z-index: 10;
  padding-left: 37%;
  padding-top: 45px;
  display: flex;
  font-size: 16px;
  align-self: flex-start;
}
.sectionHeaderNav div {
  cursor: pointer;
  padding: 7px 15px 7px 15px;
}
.sectionHeaderNav div:hover {
  border: 1px solid white;
  border-radius: 25px;
}
.sectionHeaderPromo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
.sectionHeaderPromoHead {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 35px;
  font-weight: lighter;
  z-index: 10;
  font-size: 35px;
  letter-spacing: 9px;
  text-align: center;
  margin-bottom: 44px;
}
.sectionHeaderPromoBody {
  font-family: OpenSans;
  z-index: 10;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 265px;
}
.sectionHeaderPromoButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 36px;
  width: 36px;
  background-color: #81868e;
  border-radius: 50%;
  margin: 0 auto;
}
.sectionHeaderPromoButton:hover {
  background-color: #19BD9A;
  transition: all 0.3s ease;
}

.sectionPromo .sectionInner {
  background-color: #ffffff;
  height: 67vh;
  display: flex;
}
.sectionPromoFill {
  flex-basis: 40%;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 19.5%;
  padding-right: 12%;
}
.sectionPromoFillHead {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  letter-spacing: 7px;
  text-align: left;
  margin-top: 114px;
}
.sectionPromoFillBody {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  color: gray;
  margin-top: 49px;
}
.sectionPromoFillButton {
  padding: 7px 15px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  margin-top: 36px;
  justify-self: flex-start;
  align-self: flex-start;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}
.sectionPromoFillButton:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.sectionPromoImage {
  flex-basis: 50%;
  margin-top: 100px;
}

.sectionDetails .sectionInner {
  height: 84vh;
}
.sectionDetailsHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionDetailsHeadTitle {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.sectionDetailsHeadSubtitle {
  padding-top: 40px;
  text-align: center;
  width: 35%;
  color: gray;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
}
.sectionDetailsHeadButtons {
  padding-top: 62px;
  display: flex;
  flex-direction: row;
  width: 16%;
  justify-content: space-between;
}
.sectionDetailsHeadButtons .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #81868e;
  font-size: 25px;
}
.sectionDetailsHeadButtons .button:hover {
  background-color: #19BD9A;
}
.sectionDetailsBody {
  padding-top: 60px;
  padding-right: 22%;
  padding-left: 12.3%;
}
.sectionDetailsBodyTitle {
  font-size: 20px;
  font-family: "OpenSans", serif;
}
.sectionDetailsBodyText {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  padding-top: 20px;
  display: flex;
  color: grey;
  justify-content: space-between;
}
.sectionDetailsBodyTextLeft {
  max-width: 330px;
}
.sectionDetailsBodyTextRight {
  max-width: 518px;
}

.sectionFeatured .innerSection {
  background-color: white;
}
.sectionFeaturedHead {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionFeaturedHeadTitle {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
}
.sectionFeaturedHeadSubtitle {
  color: gray;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-bottom: 64px;
  padding: 0 33.5% 64px 33.5%;
}
.sectionFeaturedWorks {
  display: flex;
}
.sectionFeaturedWorksFeature {
  display: flex;
  height: 320px;
  width: 33.3%;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.sectionFeaturedWorksFeature span {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  z-index: 10;
  color: white;
  margin: 0 auto;
  align-self: center;
  position: absolute;
}
.sectionFeaturedWorksFeature img {
  z-index: 5;
  height: 100%;
  width: 100%;
}
.sectionFeaturedWorksFeature:before {
  content: "";
  position: absolute;
  background: rgba(40, 40, 40, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
}
.sectionFeaturedWorksFeature:hover {
  width: 51%;
  transition: all 0.5s ease;
  z-index: 10;
}
.sectionFeaturedWorksFeature:hover span {
  display: none;
}
.sectionFeaturedWorksFeature:hover:before {
  display: none;
}
.sectionFeaturedFooter {
  height: 113px;
  display: flex;
  background: url(../images/nogi.gif) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.3%;
}
.sectionFeaturedFooter:before {
  content: "";
  position: absolute;
  background: rgba(42, 155, 122, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.sectionFeaturedFooterText {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  z-index: 10;
  color: white;
  letter-spacing: 2px;
}
.sectionFeaturedFooterText span {
  font-weight: bold;
}
.sectionFeaturedFooterButton {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  z-index: 10;
  color: white;
  padding: 7px 15px 7px 15px;
  border: 1px solid white;
  border-radius: 25px;
  justify-self: flex-start;
}
.sectionFeaturedFooterButton:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.sectionServices .innerSection {
  height: 86vh;
}
.sectionServicesHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.sectionServicesHeadTitle {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
}
.sectionServicesHeadSubtitle {
  padding-top: 40px;
  color: gray;
  font-size: 14px;
  max-width: 33%;
  text-align: center;
}
.sectionServicesBody {
  display: flex;
  padding: 0 12.4%;
}
.sectionServicesBodyIcons {
  padding-right: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 263px;
}
.sectionServicesBodyIcons .icon {
  display: flex;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  color: white;
  background-color: #81868e;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sectionServicesBodyIcons .icon:hover {
  background: #19BD9A;
  transition: all 0.3s ease;
}
.sectionServicesBodyText {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 430px;
  justify-content: space-between;
}
.sectionServicesBodyTextTitle {
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
}
.sectionServicesBodyTextSubtitle {
  font-size: 16px;
  letter-spacing: 2px;
  color: gray;
  font-family: "OpenSans", sans-serif;
}
.sectionServicesBodyTextMain {
  font-size: 14px;
  color: gray;
  font-family: "OpenSans", sans-serif;
}
.sectionServicesBodyDiagrams {
  display: flex;
  justify-content: space-between;
  width: 490px;
  padding-left: 84px;
}
.sectionServicesBodyDiagramsElement {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: grey;
  text-align: center;
  width: 124px;
  justify-content: center;
}
.sectionServicesBodyDiagramsElementCircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 63px;
}
.sectionServicesBodyDiagramsElementCircle div {
  position: absolute;
  color: gray;
  font-size: 25px;
  font-family: "OpenSans", sans-serif;
}
.sectionServicesBodyDiagramsElementCircle div span {
  font-size: 14px;
}

.sectionQuotes .innerSection {
  height: 53vh;
  background: black;
  position: relative;
  display: flex;
  background: url(../images/quotesBackground.gif) 50% 50% no-repeat;
  background-size: cover;
}
.sectionQuotesText {
  padding: 80px 0 101px 7.2%;
  max-width: 50%;
}
.sectionQuotesTextTitle {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: white;
  padding-bottom: 60px;
}
.sectionQuotesTextSubtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: gray;
  letter-spacing: 2px;
  padding-bottom: 33px;
}
.sectionQuotesTextAutor {
  font-size: 14px;
  color: gray;
}
.sectionQuotesImage {
  position: absolute;
  z-index: 100;
  bottom: 140px;
  left: 63%;
  right: 7.2%;
}

.sectionPortfolioHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionPortfolioHeadTitle {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.sectionPortfolioHeadSubtitle {
  padding-top: 40px;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: gray;
  letter-spacing: 2px;
  width: 40%;
  text-align: center;
}
.sectionPortfolioMenu {
  height: 35px;
  margin: 0 auto;
  padding-top: 84px;
  display: flex;
  font-family: "OpenSans", sans-serif;
  color: #464646;
  font-size: 16px;
  width: 46%;
  justify-content: space-around;
}
.sectionPortfolioMenuElement {
  padding-bottom: 15px;
  cursor: pointer;
}
.sectionPortfolioMenuElement:hover {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #f3f3f3 25%, #19BD9A 25%, #19BD9A 75%, #f3f3f3 75%, #f3f3f3 100%);
  border-image-slice: 1;
}
.sectionPortfolioContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 951px;
  padding: 55px 9.4% 40px 9.4%;
  margin: 0 auto;
  width: 1112px;
  justify-content: space-between;
}
.sectionPortfolioContentElement {
  width: 270px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.sectionPortfolioContentElement:hover .sectionPortfolioContentElementHover {
  position: absolute;
  display: flex;
  z-index: 10;
}
.sectionPortfolioContentElement:hover:before {
  content: "";
  z-index: 5;
  position: absolute;
  background: rgba(20, 20, 20, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sectionPortfolioContentElementHover {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 40px;
}
.sectionPortfolioContentElementHover .title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.sectionPortfolioContentElementHover hr {
  background-color: #19BD9A;
  border: none;
  width: 23px;
  height: 1px;
  margin-bottom: 10px;
}
.sectionPortfolioContentElementHover .text {
  height: 30%;
  font-size: 12px;
  font-family: "OpenSans", sans-serif;
  color: lightgrey;
}
.sectionPortfolioContentElementHover .buttons {
  display: flex;
  width: 64px;
  justify-content: space-between;
}
.sectionPortfolioContentElementHover .buttonsElement {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
}
.sectionPortfolioContentElementHover .buttonsElement:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease;
}
.sectionPortfolioContent .element1 {
  height: 362px;
  background: url(../images/Portfolio/1.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element2 {
  height: 362px;
  background: url(../images/Portfolio/2.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element3 {
  height: 210px;
  background: url(../images/Portfolio/3.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element4 {
  height: 229px;
  background: url(../images/Portfolio/4.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element5 {
  height: 345px;
  background: url(../images/Portfolio/5.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element6 {
  height: 357px;
  background: url(../images/Portfolio/6.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element7 {
  height: 302px;
  background: url(../images/Portfolio/7.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element8 {
  height: 374px;
  background: url(../images/Portfolio/8.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element9 {
  height: 255px;
  background: url(../images/Portfolio/9.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element10 {
  height: 362px;
  background: url(../images/Portfolio/10.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element11 {
  height: 270px;
  background: url(../images/Portfolio/11.gif) 50% 50% no-repeat;
}
.sectionPortfolioContent .element12 {
  height: 302px;
  background: url(../images/Portfolio/12.gif) 50% 50% no-repeat;
}
.sectionPortfolioFooter {
  width: 1112px;
  height: 201px;
  background: url(../images/Portfolio/portfolioBG.gif) 50% 50% no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionPortfolioFooterText {
  font-family: "OpenSans", sans-serif;
  color: white;
  padding-top: 58px;
  padding-bottom: 34px;
  font-size: 20px;
}
.sectionPortfolioFooterText span {
  font-weight: bold;
}
.sectionPortfolioFooterButton {
  font-family: "OpenSans", sans-serif;
  color: white;
  font-size: 16px;
  padding: 7px 20px 7px 20px;
  border: 1px solid white;
  border-radius: 25px;
}

.sectionTeam {
  background-color: #ffffff;
}
.sectionTeam .innerSection {
  padding: 0 12.3%;
}
.sectionTeamHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTeamHeadTitle {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
}
.sectionTeamHeadSubtitle {
  padding-top: 40px;
  font-family: "OpenSans";
  font-size: 14px;
  color: gray;
  max-width: 500px;
  text-align: center;
}
.sectionTeamContent {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
.sectionTeamContentImage {
  z-index: 10;
  height: 440px;
  min-width: 346px;
  background: url(../images/TeamImage.gif) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.sectionTeamContentImage:hover .sectionTeamContentImageHover {
  display: flex;
}
.sectionTeamContentImage:hover:after .button {
  display: flex;
}
.sectionTeamContentImageHover {
  z-index: 5;
  display: none;
  height: 430px;
  width: 336px;
  background: rgba(255, 255, 255, 0.7);
  border: 5px solid inherit;
  justify-content: center;
  align-items: center;
}
.sectionTeamContentImageHover .buttons {
  display: flex;
  z-index: 15;
  width: 110px;
  justify-content: space-between;
}
.sectionTeamContentImageHover .buttons .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #28243b;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTeamContentImageHover .buttons .button:hover {
  color: #28243b;
  background-color: rgba(200, 200, 200, 0.7);
}
.sectionTeamContentInfo {
  text-align: right;
  align-self: center;
}
.sectionTeamContentInfoName {
  padding-right: 46px;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  border-right: 5px solid #19BD9A;
}
.sectionTeamContentInfoName .position {
  padding-top: 15px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: italic;
  color: gray;
}
.sectionTeamContentInfoText {
  padding-right: 46px;
  max-width: 400px;
  padding-top: 35px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: gray;
}
.sectionTeamContentInfoSkills {
  margin-right: 46px;
  margin-left: 70px;
  padding-top: 15px;
}
.sectionTeamContentInfoSkillsElement {
  width: 330px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  font-size: 16px;
  color: gray;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 9px;
}
.sectionTeamContentInfoSkills .el1 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 80%, lightgray 80%, lightgray 100%);
  border-image-slice: 1;
}
.sectionTeamContentInfoSkills .el2 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 65%, lightgray 65%, lightgray 100%);
  border-image-slice: 1;
}
.sectionTeamContentInfoSkills .el3 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 75%, lightgray 75%, lightgray 100%);
  border-image-slice: 1;
}
.sectionTeamSlider {
  display: flex;
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 100px;
}
.sectionTeamSliderInner {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.sectionTeamSliderInnerButton {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #19BD9A;
  background: white;
  cursor: pointer;
}
.sectionTeamSliderInnerButton:hover {
  background: #19BD9A;
  transition: all 0.2s ease;
}
.sectionTeamFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 210px;
  background: url(../images/TeamFooter.gif) 50% 50% no-repeat;
  background-size: cover;
}
.sectionTeamFooterText {
  height: 50px;
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
}
.sectionTeamFooterButton {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  padding: 7px 20px 7px 20px;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
}
.sectionTeamFooterButton:hover {
  color: black;
  background-color: white;
  transition: all 0.2 ease;
}

.sectionTestimonialsHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTestimonialsHeadTitle {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  text-transform: uppercase;
}
.sectionTestimonialsHeadSubtitle {
  padding-top: 40px;
  font-size: 14px;
  color: gray;
  font-family: "SansPro", sans-serif;
  max-width: 500px;
  text-align: center;
}
.sectionTestimonialsContent {
  background: #ffffff;
  margin: 63px 7.2% 100px 7.2%;
}
.sectionTestimonialsContentInner {
  display: flex;
  padding-top: 52px;
  margin-left: 100px;
}
.sectionTestimonialsContentInnerImage {
  padding-right: 70px;
}
.sectionTestimonialsContentInnerText {
  max-width: 800px;
}
.sectionTestimonialsContentInnerTextMain {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: grey;
  padding-top: 7px;
}
.sectionTestimonialsContentInnerTextAutor {
  padding-top: 34px;
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}
.sectionTestimonialsContentInnerTextAutor span {
  color: black;
  font-weight: normal;
}
.sectionTestimonialsContentSlider {
  padding: 50px 0 60px 0;
  margin: 0 auto;
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.sectionTestimonialsContentSliderButton {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #19BD9A;
  background: white;
  cursor: pointer;
}
.sectionTestimonialsContentSliderButton:hover {
  background: #19BD9A;
  transition: all 0.2s ease;
}

.sectionBlog .innerSection {
  padding: 0 7.2%;
  background: black;
  background: url(../images/blogBG.gif) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionBlogSlider {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}
.sectionBlogSliderButton {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}
.sectionBlogSliderButton:hover {
  background: white;
  transition: all 0.2s ease;
}
.sectionBlogContentTitle {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: white;
}
.sectionBlogContentSubtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 500px;
  color: white;
}
.sectionBlogContentMainInner {
  padding-top: 106px;
  padding-left: 5.1vw;
}
.sectionBlogContentMainInnerTitle {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: white;
}
.sectionBlogContentMainInnerAutor {
  padding-top: 13px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: italic;
  color: gray;
  text-transform: uppercase;
}
.sectionBlogContentMainInnerAutor .name {
  color: #19BD9A;
}
.sectionBlogContentMainInnerRating {
  padding-top: 20px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  color: darkgray;
}
.sectionBlogContentMainInnerText {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  padding-top: 60px;
  max-width: 600px;
  color: gray;
}
.sectionBlogContentMainInnerButton {
  padding-top: 55px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 104px;
  cursor: pointer;
}
.sectionBlogContentMainInnerButton:hover {
  color: gray;
  transition: all 0.2s ease;
}

.sectionPricesHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionPricesHeadTitle {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  text-transform: uppercase;
}
.sectionPricesHeadSubtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  width: 500px;
  text-align: center;
  font-size: 14px;
  color: gray;
}
.sectionPricesTariffs {
  margin: 64px 19.5% 100px 19.5%;
  display: flex;
  justify-content: space-between;
}
.sectionPricesTariffsElement {
  width: 17.2vw;
  height: 302px;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sectionPricesTariffsElement:hover .sectionPricesTariffsElementHead {
  display: none;
}
.sectionPricesTariffsElement:hover .sectionPricesTariffsElementPrice {
  display: none;
}
.sectionPricesTariffsElement:hover .sectionPricesTariffsElementTerms {
  opacity: 100%;
  transition: all 0.3s ease;
}
.sectionPricesTariffsElement:hover .sectionPricesTariffsElementButton {
  display: flex;
}
.sectionPricesTariffsElementHead {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bolder;
  background-color: #19BD9A;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionPricesTariffsElementPrice {
  margin-top: 66px;
  text-align: center;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: #19BD9A;
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.sectionPricesTariffsElementPricePeriod {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}
.sectionPricesTariffsElementTerms {
  top: 40px;
  position: absolute;
  width: 12.4vw;
  text-align: left;
  opacity: 0%;
  color: gray;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.sectionPricesTariffsElementButton {
  width: 100%;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  background-color: #19BD9A;
  height: 67px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.sectionPricesTariffsElementButton:hover {
  color: gray;
  transition: all 0.3s ease;
}
.sectionPricesTariffsElementButton i {
  margin-left: 5px;
}

/*# sourceMappingURL=styles.css.map */
