* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

body {
  background-color: #f3f3f3;
}

.black {
  font-weight: bolder;
  color: black;
}

.green {
  font-weight: bold;
  color: #19BD9A;
}

.whiteBold {
  color: white;
  font-weight: bold;
}

.section-header .section-inner {
  color: white;
  background: url("../images/headerBG.gif") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.section-header .section-inner:before {
  content: "";
  position: absolute;
  background: rgba(40, 40, 40, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-header-navNdLogo {
  display: flex;
  justify-content: flex-start;
  height: 100px;
}
.section-header-logo {
  font-family: "Archivo Black", sans-serif;
  z-index: 10;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  padding-left: 7.2%;
  padding-top: 48px;
}
.section-header-nav {
  font-family: "OpenSans", sans-serif;
  z-index: 10;
  padding-left: 37%;
  padding-top: 45px;
  display: flex;
  font-size: 16px;
  align-self: flex-start;
}
.section-header-nav div {
  cursor: pointer;
  padding: 7px 15px 7px 15px;
}
.section-header-nav div:hover {
  border: 1px solid white;
  border-radius: 25px;
}
.section-header-promo {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}
.section-header-promo-head {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 35px;
  font-weight: lighter;
  z-index: 10;
  font-size: 35px;
  letter-spacing: 9px;
  text-align: center;
  margin-bottom: 44px;
}
.section-header-promo-body {
  font-family: OpenSans;
  z-index: 10;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 265px;
}
.section-header-promo-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 36px;
  width: 36px;
  background-color: #81868e;
  border-radius: 50%;
  margin: 0 auto;
}
.section-header-promo-button:hover {
  background-color: #19BD9A;
  transition: all 0.3s ease;
}

.section-promo .section-inner {
  background-color: #ffffff;
  height: 67vh;
  display: flex;
}
.section-promo-fill {
  flex-basis: 40%;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 19.5%;
  padding-right: 12%;
}
.section-promo-fill-head {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  letter-spacing: 7px;
  text-align: left;
  margin-top: 114px;
}
.section-promo-fill-body {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  color: gray;
  margin-top: 49px;
}
.section-promo-fill-button {
  padding: 7px 15px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  margin-top: 36px;
  justify-self: flex-start;
  align-self: flex-start;
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}
.section-promo-fill-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}
.section-promo-image {
  flex-basis: 50%;
  margin-top: 100px;
}

.section-details .section-inner {
  height: 84vh;
}
.section-details-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-details-head-title {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.section-details-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-details-head-buttons {
  padding-top: 62px;
  display: flex;
  flex-direction: row;
  width: 16%;
  justify-content: space-between;
}
.section-details-head-buttons .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #81868e;
  font-size: 25px;
}
.section-details-head-buttons .button:hover {
  background-color: #19BD9A;
}
.section-details-body {
  padding-right: 22%;
  padding-left: 12.3%;
}
.section-details-body-title {
  padding-top: 40px;
  font-size: 20px;
  font-family: "OpenSans", serif;
}
.section-details-body-text {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  padding-top: 20px;
  display: flex;
  color: grey;
  justify-content: space-between;
}
.section-details-body-text-left {
  max-width: 330px;
}
.section-details-body-text-right {
  max-width: 518px;
}

.section-featured .inner-section {
  background-color: white;
}
.section-featured-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-featured-head-title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
}
.section-featured-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-featured-works {
  padding-top: 65px;
  display: flex;
}
.section-featured-works-feature {
  display: flex;
  height: 320px;
  width: 33.3%;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.section-featured-works-feature span {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  z-index: 10;
  color: white;
  margin: 0 auto;
  align-self: center;
  position: absolute;
}
.section-featured-works-feature img {
  z-index: 5;
  height: 100%;
  width: 100%;
}
.section-featured-works-feature:before {
  content: "";
  position: absolute;
  background: rgba(40, 40, 40, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
}
.section-featured-works-feature:hover {
  width: 51%;
  transition: all 0.5s ease;
  z-index: 10;
}
.section-featured-works-feature:hover span {
  display: none;
}
.section-featured-works-feature:hover:before {
  display: none;
}
.section-featured-footer {
  height: 113px;
  display: flex;
  background: url(../images/nogi.gif) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.3%;
}
.section-featured-footer:before {
  content: "";
  position: absolute;
  background: rgba(42, 155, 122, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.section-featured-footer-text {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  z-index: 10;
  color: white;
  letter-spacing: 2px;
}
.section-featured-footer-text span {
  font-weight: bold;
}
.section-featured-footer-button {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  z-index: 10;
  color: white;
  padding: 7px 15px 7px 15px;
  border: 1px solid white;
  border-radius: 25px;
  justify-self: flex-start;
  cursor: pointer;
}
.section-featured-footer-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.section-services .inner-section {
  height: 86vh;
}
.section-services-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}
.section-services-head-title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
}
.section-services-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-services-body {
  display: flex;
  padding: 0 12.4%;
}
.section-services-body-icons {
  padding-right: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 263px;
}
.section-services-body-icons .icon {
  display: flex;
  height: 53px;
  width: 53px;
  border-radius: 50%;
  color: white;
  background-color: #81868e;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-services-body-icons .icon:hover {
  background: #19BD9A;
  transition: all 0.3s ease;
}
.section-services-body-text {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 430px;
  justify-content: space-between;
}
.section-services-body-text-title {
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
}
.section-services-body-text-subtitle {
  font-size: 16px;
  letter-spacing: 2px;
  color: gray;
  font-family: "OpenSans", sans-serif;
}
.section-services-body-text-main {
  font-size: 14px;
  color: gray;
  font-family: "OpenSans", sans-serif;
}
.section-services-body-diagrams {
  display: flex;
  justify-content: space-between;
  width: 490px;
  padding-left: 84px;
}
.section-services-body-diagrams-element {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: grey;
  text-align: center;
  width: 124px;
  justify-content: center;
}
.section-services-body-diagrams-element-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 63px;
}
.section-services-body-diagrams-element-circle div {
  position: absolute;
  color: gray;
  font-size: 25px;
  font-family: "OpenSans", sans-serif;
}
.section-services-body-diagrams-element-circle div span {
  font-size: 14px;
}

.section-quotes .inner-section {
  height: 53vh;
  background: black;
  position: relative;
  display: flex;
  background: url(../images/quotesBackground.gif) 50% 50% no-repeat;
  background-size: cover;
}
.section-quotes-text {
  padding: 80px 0 101px 7.2%;
  max-width: 50%;
}
.section-quotes-text-title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: white;
  padding-bottom: 60px;
}
.section-quotes-text-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: gray;
  letter-spacing: 2px;
  padding-bottom: 33px;
}
.section-quotes-text-autor {
  font-size: 14px;
  color: gray;
}
.section-quotes-image {
  position: absolute;
  z-index: 100;
  bottom: 140px;
  left: 63%;
  right: 7.2%;
}

.section-portfolio-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-portfolio-head-title {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.section-portfolio-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-portfolio-menu {
  height: 35px;
  margin: 0 auto;
  padding-top: 84px;
  display: flex;
  font-family: "OpenSans", sans-serif;
  color: #464646;
  font-size: 16px;
  width: 46%;
  justify-content: space-around;
}
.section-portfolio-menu-element {
  padding-bottom: 15px;
  cursor: pointer;
}
.section-portfolio-menu-element:hover {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #f3f3f3 25%, #19BD9A 25%, #19BD9A 75%, #f3f3f3 75%, #f3f3f3 100%);
  border-image-slice: 1;
}
.section-portfolio-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 951px;
  padding: 55px 9.4% 40px 9.4%;
  margin: 0 auto;
  width: 1112px;
  justify-content: space-between;
}
.section-portfolio-content-element {
  width: 270px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.section-portfolio-content-element:hover .section-portfolio-content-element-hover {
  position: absolute;
  display: flex;
  z-index: 10;
}
.section-portfolio-content-element:hover:before {
  content: "";
  z-index: 5;
  position: absolute;
  background: rgba(20, 20, 20, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-portfolio-content-element-hover {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 40px;
}
.section-portfolio-content-element-hover .title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
}
.section-portfolio-content-element-hover hr {
  background-color: #19BD9A;
  border: none;
  width: 23px;
  height: 1px;
  margin-bottom: 10px;
}
.section-portfolio-content-element-hover .text {
  height: 30%;
  font-size: 12px;
  font-family: "OpenSans", sans-serif;
  color: lightgrey;
}
.section-portfolio-content-element-hover .buttons {
  display: flex;
  width: 64px;
  justify-content: space-between;
}
.section-portfolio-content-element-hover .buttons-element {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
}
.section-portfolio-content-element-hover .buttons-element:hover {
  color: black;
  background-color: white;
  transition: all 0.2s ease;
}
.section-portfolio-content .element1 {
  height: 362px;
  background: url(../images/Portfolio/1.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element2 {
  height: 362px;
  background: url(../images/Portfolio/2.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element3 {
  height: 210px;
  background: url(../images/Portfolio/3.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element4 {
  height: 229px;
  background: url(../images/Portfolio/4.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element5 {
  height: 345px;
  background: url(../images/Portfolio/5.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element6 {
  height: 357px;
  background: url(../images/Portfolio/6.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element7 {
  height: 302px;
  background: url(../images/Portfolio/7.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element8 {
  height: 374px;
  background: url(../images/Portfolio/8.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element9 {
  height: 255px;
  background: url(../images/Portfolio/9.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element10 {
  height: 362px;
  background: url(../images/Portfolio/10.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element11 {
  height: 270px;
  background: url(../images/Portfolio/11.gif) 50% 50% no-repeat;
}
.section-portfolio-content .element12 {
  height: 302px;
  background: url(../images/Portfolio/12.gif) 50% 50% no-repeat;
}
.section-portfolio-footer {
  width: 1112px;
  height: 201px;
  background: url(../images/Portfolio/portfolioBG.gif) 50% 50% no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-portfolio-footer-text {
  font-family: "OpenSans", sans-serif;
  color: white;
  padding-top: 58px;
  padding-bottom: 34px;
  font-size: 20px;
}
.section-portfolio-footer-text span {
  font-weight: bold;
}
.section-portfolio-footer-button {
  font-family: "OpenSans", sans-serif;
  color: white;
  font-size: 16px;
  padding: 7px 20px 7px 20px;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
}
.section-portfolio-footer-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
}

.section-team {
  background-color: #ffffff;
}
.section-team .inner-section {
  padding: 0 12.3%;
}
.section-team-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-team-head-title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
}
.section-team-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-team-content {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
.section-team-content-image {
  z-index: 10;
  height: 440px;
  min-width: 346px;
  background: url(../images/TeamImage.gif) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.section-team-content-image:hover .section-team-content-image-hover {
  display: flex;
}
.section-team-content-image:hover:after .button {
  display: flex;
}
.section-team-content-image-hover {
  z-index: 5;
  display: none;
  height: 430px;
  width: 336px;
  background: rgba(255, 255, 255, 0.7);
  border: 5px solid inherit;
  justify-content: center;
  align-items: center;
}
.section-team-content-image-hover .buttons {
  display: flex;
  z-index: 15;
  width: 110px;
  justify-content: space-between;
}
.section-team-content-image-hover .buttons .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #28243b;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-team-content-image-hover .buttons .button:hover {
  color: #28243b;
  background-color: rgba(200, 200, 200, 0.7);
}
.section-team-content-info {
  text-align: right;
  align-self: center;
}
.section-team-content-info-name {
  padding-right: 46px;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  border-right: 5px solid #19BD9A;
}
.section-team-content-info-name .position {
  padding-top: 15px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: italic;
  color: gray;
}
.section-team-content-info-text {
  padding-right: 46px;
  max-width: 400px;
  padding-top: 35px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: gray;
}
.section-team-content-info-skills {
  margin-right: 46px;
  margin-left: 70px;
  padding-top: 15px;
}
.section-team-content-info-skills-element {
  width: 330px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  font-size: 16px;
  color: gray;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 9px;
}
.section-team-content-info-skills .el1 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 80%, lightgray 80%, lightgray 100%);
  border-image-slice: 1;
}
.section-team-content-info-skills .el2 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 65%, lightgray 65%, lightgray 100%);
  border-image-slice: 1;
}
.section-team-content-info-skills .el3 {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to right, #19BD9A 75%, lightgray 75%, lightgray 100%);
  border-image-slice: 1;
}
.section-team-slider {
  display: flex;
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 100px;
}
.section-team-slider-inner {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.section-team-slider-inner-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #19BD9A;
  background: white;
  cursor: pointer;
}
.section-team-slider-inner-button:hover {
  background: #19BD9A;
  transition: all 0.2s ease;
}
.section-team-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 210px;
  background: url(../images/TeamFooter.gif) 50% 50% no-repeat;
  background-size: cover;
}
.section-team-footer-text {
  height: 50px;
  font-size: 20px;
  font-family: "OpenSans", sans-serif;
}
.section-team-footer-button {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  padding: 7px 20px 7px 20px;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
}
.section-team-footer-button:hover {
  color: black;
  background-color: white;
  transition: all 0.2 ease;
}

.section-testimonials-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-testimonials-head-title {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  text-transform: uppercase;
}
.section-testimonials-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-testimonials-content {
  background: #ffffff;
  margin: 63px 7.2% 100px 7.2%;
}
.section-testimonials-content-inner {
  display: flex;
  padding-top: 52px;
  margin-left: 100px;
}
.section-testimonials-content-inner-image {
  padding-right: 70px;
}
.section-testimonials-content-inner-text {
  max-width: 800px;
}
.section-testimonials-content-inner-text-main {
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: grey;
  padding-top: 7px;
}
.section-testimonials-content-inner-text-autor {
  padding-top: 34px;
  font-weight: bold;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}
.section-testimonials-content-inner-text-autor span {
  color: black;
  font-weight: normal;
}
.section-testimonials-content-slider {
  padding: 50px 0 60px 0;
  margin: 0 auto;
  display: flex;
  width: 50px;
  justify-content: space-between;
}
.section-testimonials-content-slider-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #19BD9A;
  background: white;
  cursor: pointer;
}
.section-testimonials-content-slider-button:hover {
  background: #19BD9A;
  transition: all 0.2s ease;
}

.section-blog .inner-section {
  padding: 0 7.2%;
  background: black;
  background: url(../images/blogBG.gif) 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-blog-slider {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}
.section-blog-slider-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  cursor: pointer;
}
.section-blog-slider-button:hover {
  background: white;
  transition: all 0.2s ease;
}
.section-blog-content-title {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: white;
}
.section-blog-content-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
  line-height: 22px;
  color: white;
}
.section-blog-content-main-inner {
  padding-top: 106px;
  padding-left: 5.1vw;
}
.section-blog-content-main-inner-title {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: white;
}
.section-blog-content-main-inner-autor {
  padding-top: 13px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: italic;
  color: gray;
  text-transform: uppercase;
}
.section-blog-content-main-inner-autor .name {
  color: #19BD9A;
}
.section-blog-content-main-inner-rating {
  padding-top: 20px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  color: darkgray;
}
.section-blog-content-main-inner-text {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  padding-top: 60px;
  max-width: 600px;
  color: gray;
}
.section-blog-content-main-inner-button {
  padding-top: 55px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  color: white;
  margin-bottom: 104px;
  cursor: pointer;
}
.section-blog-content-main-inner-button:hover {
  color: gray;
  transition: all 0.2s ease;
}

.section-prices-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-prices-head-title {
  padding-top: 80px;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  text-transform: uppercase;
}
.section-prices-head-subtitle {
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-prices-tariffs {
  margin: 64px 19.5% 100px 19.5%;
  display: flex;
  justify-content: space-between;
}
.section-prices-tariffs-element {
  width: 17.2vw;
  height: 302px;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section-prices-tariffs-element:hover .section-prices-tariffs-element-head {
  display: none;
}
.section-prices-tariffs-element:hover .section-prices-tariffs-element-price {
  display: none;
}
.section-prices-tariffs-element:hover .section-prices-tariffs-element-terms {
  opacity: 100%;
  transition: all 0.3s ease;
}
.section-prices-tariffs-element:hover .section-prices-tariffs-element-button {
  display: flex;
}
.section-prices-tariffs-element-head {
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bolder;
  background-color: #19BD9A;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-prices-tariffs-element-price {
  margin-top: 66px;
  text-align: center;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: #19BD9A;
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: bolder;
}
.section-prices-tariffs-element-price-period {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}
.section-prices-tariffs-element-terms {
  top: 40px;
  position: absolute;
  width: 12.4vw;
  text-align: left;
  opacity: 0%;
  color: gray;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
}
.section-prices-tariffs-element-button {
  width: 100%;
  color: white;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  background-color: #19BD9A;
  height: 67px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.section-prices-tariffs-element-button:hover {
  color: gray;
  transition: all 0.3s ease;
}
.section-prices-tariffs-element-button i {
  margin-left: 5px;
}

.section-subscribe .inner-section {
  background: url(../images/subscribeBG.gif) 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}
.section-subscribe .inner-section:before {
  position: absolute;
  content: "";
  background: rgba(51, 51, 51, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.section-subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.section-subscribe-content-title {
  z-index: 20;
  padding-top: 80px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  color: white;
}
.section-subscribe-content-subtitle {
  z-index: 20;
  padding-top: 40px;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
}
.section-subscribe-content-area {
  z-index: 20;
  width: 38%;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding-top: 64px;
}
.section-subscribe-content-area-input {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: white;
  padding: 15px 0 15px 22px;
  width: 65%;
  background-color: transparent;
  outline: none;
}
.section-subscribe-content-area-input::-webkit-input-placeholder {
  color: white;
}
.section-subscribe-content-area-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  background-color: #19BD9A;
  cursor: pointer;
  width: 29%;
}
.section-subscribe-content-area-button:hover {
  background-color: #91c48d;
  transition: all 0.3s;
}

.section-contact-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-contact-head-title {
  font-family: "Source Sans Pro", lighter;
  font-weight: lighter;
  letter-spacing: 8px;
  font-size: 20px;
  padding-top: 80px;
  text-transform: uppercase;
}
.section-contact-head-subtitle {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: gray;
  text-align: center;
  max-width: 500px;
  padding-top: 40px;
}
.section-contact-content {
  padding: 64px 15.6% 100px 15.6%;
  display: flex;
  justify-content: space-between;
}
.section-contact-content-element {
  width: 21.1vw;
}
.section-contact-content-element .mail {
  background: url(../images/Contacts/mailBG.gif) 50% 50% no-repeat;
  background-size: cover;
}
.section-contact-content-element .address {
  background: url(../images/Contacts/addressBG.gif) 50% 50% no-repeat;
  background-size: cover;
}
.section-contact-content-element .phone {
  background: url(../images/Contacts/phoneBG.gif) 50% 50% no-repeat;
  background-size: cover;
}
.section-contact-content-element-head {
  height: 145px;
  width: 100%;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-contact-content-element-info {
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  background: white;
  text-align: center;
}
.section-contact-content-element-info-contacts {
  color: gray;
  font-size: 14px;
  line-height: 25px;
}
.section-contact-form {
  padding: 80px 15.6% 130px 15.6%;
  background: white;
  width: calc(100% - (15.6*2));
}
.section-contact-form-contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.section-contact-form-contacts-element {
  box-sizing: border-box;
  width: 21vw;
  outline: none;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  padding: 15px 0 15px 21px;
}
.section-contact-form-main {
  box-sizing: border-box;
  width: 100%;
  margin-top: 30px;
  height: 190px;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.section-contact-form-button {
  box-sizing: border-box;
  margin-top: 30px;
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19BD9A;
  color: white;
  font-family: "OpenSans";
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.section-contact-form-button:hover {
  background-color: #91c48d;
  transition: all 0.3 ease;
}
.section-contact-nav {
  height: 500px;
  width: 100%;
  position: relative;
}
.section-contact-nav:before {
  position: absolute;
  content: "FIND US ON THE MAP";
  font-size: 16px;
  color: white;
  font-family: "OpenSans", sans-serif;
  background: rgba(36, 36, 36, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-footer .inner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-footer-title {
  padding-top: 80px;
  font-family: "Archivo Black", sans-serif;
  z-index: 10;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}
.section-footer-subtitle {
  padding-top: 25px;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: gray;
}
.section-footer-socials {
  padding-top: 40px;
  padding-bottom: 90px;
  display: flex;
  width: 172px;
  justify-content: space-between;
}
.section-footer-socials-element {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-footer-socials .facebook {
  background: #3b5998;
}
.section-footer-socials .facebook:hover {
  color: #3b5998;
  background-color: white;
}
.section-footer-socials .twitter {
  background: #26a6d1;
}
.section-footer-socials .twitter:hover {
  color: #26a6d1;
  background-color: white;
}
.section-footer-socials .in {
  background: #0e76a8;
}
.section-footer-socials .in:hover {
  color: #0e76a8;
  background-color: white;
}
.section-footer-socials .insta {
  background: #3f729b;
}
.section-footer-socials .insta:hover {
  color: #3f729b;
  background-color: white;
}
.section-footer-socials .vk {
  background: #86c9ef;
}
.section-footer-socials .vk:hover {
  color: #86c9ef;
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
